.maintable {
  width: 893px; 
  border-collapse: collapse; 
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
}

.maintable th, .maintable td {
  padding: 12px; 
  text-align: left;
  border-bottom: 1px solid #ddd; 
  background-color: #fafafa;
  word-wrap: break-word; 
}

.maintable th {
  background-color: #6366f1; 
  color: white;
  font-weight: bold;
}

.maintable tr {
  background-color: #f9f9f9;
}

.maintable tr:hover {
  background-color: #f1f1f1;
}

.maintable td[colspan="4"] {
  text-align: center;
  color: #888;
}

.maintable tr:nth-child(even) {
  background-color: #ffffff; 
}

@media (max-width: 1023px) { 
  .maintable {
    width: 730px;
    margin-top: 30px;
    margin-left: 10px;
  }
} 

@media (max-width: 767px) { 
  .maintable {
    width: 500px;
    margin-top: 30px;
  }

  .maintable th, .maintable td {
    padding: 5px;
    font-size: 17.5px;
  }
}

@media (max-width: 479px) {
  .maintable {
    width: 100%;
    margin-left: 0px;
  }
  
  .maintable th, .maintable td {
    padding: 5px;
    font-size: 13px;
  }
}