.searchitem{
  transform: translateY(20px);
  margin-left: 20px;
  display: flex;
  flex-direction: row; 
  gap: 20px;
}

.inputitem {
  border-radius: 5px;
  width: 534px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, background-color 0.3s;
}

.inputitem:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
}

.inputitem:focus {
  outline: none; 
  border-color: rgba(0, 0, 0, 0.2); 
}

.inputitem:active {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.1); 
}

.chooseitem {
  width: 180px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, background-color 0.3s;
}

.chooseitem:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
}

.chooseitem:focus {
  outline: none; 
  border-color: rgba(0, 0, 0, 0.2); 
}

.chooseitem:active {
  border-color: transparent; 
  background-color: rgba(0, 0, 0, 0.1);
}

.resetButton{
  background-color: #6366f1; 
  color: white;
  width: 133px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.resetButton:hover {
  background-color: #4f46e5; 
  border-color: rgba(0, 0, 0, 0.5);
}

.resetButton:focus {
  outline: none; 
  border-color: #4338ca; 
}

.resetButton:active {
  background-color: #3730a3; 
  transform: scale(0.98); 
}

@media (max-width: 1023px){
  .inputitem {
    width: 400px;
  }
  
  .chooseitem {
    width: 150px;
  }

  .searchitem{
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .inputitem {
    width: 300px;
  }
  
  .chooseitem {
    width: 120px;
  }

  .resetButton {
    width: 135px;
    height: 45px;
  }
  
  .searchitem {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: row; 
  }
}

@media (max-width: 479px) {
  .inputitem {
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
  }
  
  .chooseitem {
    width: 100%;
    margin-left: -10px;
  }
  
  .resetButton {
    width: 100%;
    margin-left: -10px;
  }

  .searchitem {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

}