body{
  background-color: #e6e8ff;
  overflow-y: hidden;
}

.maindiv {
  width: 893px; 
  height: 83px;
  border-radius: 8px;
  background-color: #6366f1;
  color: #ffffff;
  padding: 24px;
  margin-left: 0px;
  margin-top: -120px;
  position: relative;
  z-index: 10;
}

.usernam {
  font-size: 2.0rem;
  line-height: 2.25rem;
  white-space: nowrap;
  margin-top: 20px;
}

.back {
  background-color: white;
  width: 940px;
  height: 650px;
  position: fixed;
  z-index: -1;
  margin-left: 600px;
  transform: translateY(180px);
  border-radius: 8px;
}